[Unit]
Description=Bookinfo Ratings Service
After=network.target

[Service]
Environment=NODE_PORT=8080
Type=simple
User=ec2-user
ExecStart=node /home/ec2-user/bookinfo-ratings/ratings.js 8080
Restart=on-failure

[Install]
WantedBy=multi-user.target
